body {
    font-family: "Roboto", sans-serif;
    transition: all 0.75s;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    padding: 0;
    margin: 1em 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 1em;
}

button {
    padding: 0;
    margin: 1.3em 0 1.3em 0;
    width: 8.5em;
    height: 2.5em;
    font-size: 1.5em;
    border: 1px solid black;
    box-shadow: 3px 3px 0px #0a0a0a;
    /* border: 1px solid #e8e8e8; */
    border-radius: 7px;
    cursor: pointer;
    background-color: transparent;
}

.color-display {
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    text-align: center;
}